{% extends "base/reminder_base.html" %} {% block body %}

<p>{{ datetime_now }}</p>
<hr />
{% for item in page_list %}

<div class="flex routine_list_layout">
  <div class="routine_list">
    <p>{{ item.page.title }}</p>
    <p>開始日時: {{ item.start_date }}</p>
    <p>次回：{{ item.next_date }}</p>
  </div>
  <a href="{% url 'reminder:page_detail' item.page.id %}" class="detail_link"
    >詳細</a
  >
  <a href="{% url 'reminder:page_delete' item.page.id %}">削除</a>
</div>
<hr />
{% empty %}
<div>ルーチンが1つもありません。</div>
{% endfor %}

<a href="{% url 'reminder:page_create' %}" class="register_link"
  >ルーチンを登録する</a
>
{% endblock %}
