{% extends "base/reminder_base.html" %} {% block body %}

<p>{{ datetime_now }}</p>
{% for routineModel in page_list %}
<hr />
<div class="flex routine_list_layout">
  <p>{{ routineModel.id }} - {{ routineModel.title }}</p>
  <a href="{% url 'reminder:page_detail' routineModel.id %}" class="detail_link"
    >詳細</a
  >
  <a href="{% url 'reminder:page_delete' routineModel.id %}">削除</a>
</div>
<hr />
{% empty %}
<div>ルーチンが1つもありません。</div>
{% endfor %}

<a href="{% url 'reminder:page_create' %}" class="register_link"
  >ルーチンを登録する</a
>
{% endblock %}
